services:
  postgres:
    image: postgres:14.20-trixie
    container_name: booksco-db
    environment:
      POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    ports:
      - "5431:5432"
    restart: always

  app:
    build: .
    container_name: booksco-app
    ports:
      - "9090:9090"
    depends_on:
      - postgres
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - DATABASE_USERNAME=${DATABASE_USERNAME}
      - DATABASE_PASSWORD=${DATABASE_PASSWORD}
    restart: always